@import url("https://fonts.cdnfonts.com/css/valorant");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  overflow: hidden;
}

@layer utilities {
  .bg-gradient-container {
    background: linear-gradient(
      45deg,
      rgba(31, 35, 51, 1) 31%,
      rgba(80, 80, 91, 0.7932422969187676) 100%
    );
  }

  .bg-gradient-card {
    background: linear-gradient(
      0deg,
      rgba(255, 62, 72, 1) 12%,
      rgba(255, 255, 255, 0) 71%,
      rgba(255, 255, 255, 0) 100%
    );
  }
  .bg-gradient-card-detail {
    background: linear-gradient(
      180deg,
      rgba(255, 62, 72, 1) 12%,
      rgba(255, 255, 255, 0) 71%,
      rgba(255, 255, 255, 0) 100%
    );
  }

  .bg-gradient-detail {
    background: linear-gradient(
      180deg,
      rgba(29, 29, 29, 0.011) 12%,
      rgba(255, 255, 255, 0) 71%,
      rgba(255, 255, 255, 0) 100%
    );
  }

  .bg-gradient-card-bottom {
    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.3226540616246498) 0%,
      rgba(255, 255, 255, 0) 45%
    );
  }

  .agent-background-image {
    clip-path: polygon(0% 0%, 100% 0%, 100% 49%, 0% 72%);
  }

  :root {
    --card-height: 300px;
    --card-width: calc(var(--card-height) / 1.5);
  }
  * {
    box-sizing: border-box;
  }

  .main-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 8rem;
  }

  .card {
    width: var(--card-width);
    height: var(--card-height);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 0 36px;
    perspective: 2500px;
    margin: 0 50px;
    background: linear-gradient();
  }

  .cover-image {
    width: 100%;
    height: 100%;
    object-fit: fill;
    border: 2px solid red;
  }
  .character-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }

  .wrapper {
    transition: all 0.5s;
    position: absolute;
    width: 100%;
    z-index: -1;
  }

  .card:hover .wrapper {
    transform: perspective(900px) translateY(-5%) rotateX(25deg) translateZ(0);
    box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  }

  .wrapper::before,
  .wrapper::after {
    content: "";
    opacity: 0;
    width: 100%;
    height: 80px;
    transition: all 0.5s;
    position: absolute;
    left: 0;
  }
  .wrapper::before {
    top: 0;
    height: 100%;
    background-image: linear-gradient(
      to top,
      transparent 46%,
      rgba(12, 13, 19, 0.5) 68%,
      rgba(12, 13, 19) 97%
    );
  }
  .wrapper::after {
    bottom: 0;
    opacity: 1;
    background-image: linear-gradient(
      to bottom,
      transparent 46%,
      rgba(12, 13, 19, 0.5) 68%,
      rgba(12, 13, 19) 97%
    );
  }

  .card:hover .wrapper::before,
  .wrapper::after {
    opacity: 1;
  }

  .card:hover .wrapper::after {
    height: 120px;
  }
  .title {
    width: 100%;
    color: #ffffff;
    transition: transform 0.5s;
  }
  .card:hover .title {
    transform: translate3d(0%, -50px, 100px);
  }

  .character {
    width: 180%;
    opacity: 0;
    transition: all 0.5s;
    position: absolute;
    z-index: -1;
  }

  .card:hover .character {
    opacity: 1;
    transform: translate3d(0%, -30%, 100px);
    transition: all 0.5s;
    scale: 180%;
  }
  .card:hover .character-image {
    opacity: 0;
  }
}
